/** Insert SCSS here */
body1{
    color:grey;     
}
body2{
    color:grey;     
}
body2{
    color:grey;     
}
body3{
    color:grey;     
}
body4{
    color:grey;     
}
body5{
    color:grey;     
}
body6{
    color:grey;     
}
body7{
    color:grey;     
}
body8{
    color:grey;     
}
