<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title th:text="${title}"></title>

<!-- Use minimum-scale=1 to enable GPU rasterization -->
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1, minimum-scale=1">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">

<link rel='stylesheet' href='/css/index.min.css' />

</head>
<body>
	<div id="react-one"></div>
	<script type="text/javascript" src="/js/app-one.js"></script>
</body>
</html>
